<CAUSTICS_GENERATOR>
<CAUSTICS>
	<DEPTH value="1.500000"/>
	<INTENSITY value="0.050000"/>
	<AMP_FILTER value="30.000000"/>
	<FREQ_FILTER value="1.500000"/>
	<TIME_FILTER value="32.000000"/>
	<NUM_ANIM_FRAMES value="32"/>
	<CURRENT_ANIM_FRAME value="1"/>
	<SUBDIVISIONS value="64"/>
</CAUSTICS>
<OUTPUT>
	<SIZE width="256" height="256"/>
	<SUPERSAMPLING value="1"/>
	<BLURSAMPLING value="1"/>
	<BGCOLOR r="51" g="76" b="204"/>
	<PREVIEW value="0"/>
	<FILENAME text=""/>
</OUTPUT>
</CAUSTICS_GENERATOR>
